.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
  position: relative;
  box-shadow: 0 1px 3px #000;
  border-radius: var(--border-radius);
  margin: 5px;
  padding: 15px;
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .options {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card:hover {
  box-shadow: 0 1px 3px #000;
  transition-duration: var(--transition-time);
}

.card-title {
  width: 50%;
  padding: 10px;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.card .addCart {
  width: 80%;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  border-radius: var(--border-radius);
  background-color: var(--logo-color);
  border: none;
  padding: 5px;
  transition-duration: var(--transition-time);
}

.card .addCart:hover {
  box-shadow: 0 1px 3px #000;
}

.card img {
  width: 100px;
  height: 100px;
  padding: 25px;
}