.hero {
  background-image: url('../assets/javier-esteban-mIUJZi8a828-unsplash.jpg');
  background-attachment: fixed;
  width: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  top: -50px;
  z-index: 0;
  box-shadow: 0 5px 5px 0px rgb(0,0,0);
  & .callToAction {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 15px;
    color: white;
    font-size: 2rem;
    width: 80%;
    top: 25%;
    padding: 30px;
    & button {
      background-color: var(--logo-color);
      font-size: 1rem;
      box-shadow: 0 5px 5px 0px rgb(0,0,0);
      text-align: center;
      border-radius: 0;
      border: none;
      padding: 10px;
      width: 300px;
      margin-top: 15px;
    }
    & button:hover {
      opacity: .9;

    }
  }
}