:root {
  --border-color: #61616180;
  --border-radius: 5px;
  --logo-color: rgba(69, 209, 139, 0.603);
  --transition-time: .1s;
  --main-padding: 15px;
}

.main {
  width: 85%;
  margin: 50px auto;
  padding: 1%;
}

.continue {
  background-color: white;
  border: none;
  box-shadow: 0 1px 3px #000;
  padding: 10px;
  transition-duration: var(--transition-time);
}

.checkout {
  background-color: var(--logo-color);
  box-shadow: 0 1px 3px #000;
  margin-right: var(--main-padding);
  border: none;
  padding: 10px;
  transition-duration: var(--transition-time);
}

.container-flex {
  display: flex;
  align-items: center;
}

.continue:hover {
  background-color: var(--logo-color);
}

.searchIcon {
  padding: 5px;
}
.searchIcon:hover, .moon:hover {
  cursor: pointer;
}