@import './navbar.css';
@import './search.css';
@import './cards.css';
@import './cart.css';
@import './theme.css';
@import './hero.css';

:root {
  --border-color: #61616180;
  --logo-color: rgba(200, 209, 200, 0.9);
  --transition-time: .1s;
  --main-padding: 15px;
}

.main {
  width: 100%;
  margin: 0 auto;
}
.about {
  width: 65%;
  margin: 5% auto;
}

.continue {
  background-color: white;
  border: none;
  box-shadow: 0 1px 3px #000;
  padding: 10px;
  transition-duration: var(--transition-time);
}

.checkout {
  background-color: var(--logo-color);
  box-shadow: 0 1px 3px #000;
  margin-right: var(--main-padding);
  border: none;
  padding: 10px;
  transition-duration: var(--transition-time);
}

.container-flex {
  display: flex;
  align-items: center;
}

.continue:hover {
  background-color: var(--logo-color);
}

.searchIcon {
  padding: 5px;
}
.searchIcon:hover, .moon:hover {
  cursor: pointer;
}