.navbar {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 75px;
  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    & li {
      list-style-type: none;
      padding: 0 20px;
      color: inherit;
    }
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
  & a:visited {
    color: inherit;
  }
  & .logo {
    font-size: 1.4rem;
  }
  & .location {
  font-size: 1.2rem;
  }
  & .phone {
    font-size: 1.4rem;
    font-weight: bold;
  }
  & .cart {
    position: relative;
    & .cartNumber {
      position: absolute;
      display: flex;
      align-items: center;
      background-color: var(--logo-color);
      height: 10px;
      width: 10px;
      left: 60%;
      bottom: -35%;
      font-size: .8rem;
      border: 1px solid var(--border-color);
      border-radius: 100%;
      padding: 4px;
    }
  }
}