.searchField {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  margin-top: 0;
  font-size: 1rem;
  & input {
    width: 100%;
    padding: 5px;
    border: none;
  }
  & input:focus {
    outline: none;
  }
  & .searchContainer {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0;
    box-shadow: none;
    & .searchIcon {
      color: var(--border-color)
    }
  }
  & .searchContainer:focus {
    border-color: rgb(49, 82, 116);
  }
}

@media screen and (max-width: 825px) {
  .searchField .searchContainer {
    width: 70%;
  }
}