.dark {
  background-color: rgb(21, 25, 34);
  color: #fff;
}

.light {
  background-color: #fff;
  color: #333;
 }

 .dark .card {
  background-color: rgb(17, 20, 24);
 }

 .dark .addCart {
  color: rgba(255, 255, 255, 0.74);
 }

 .dark .logo {
  color: rgba(255, 255, 255, 0.74);
 }

 .dark .searchField .searchContainer, .dark .searchField input {
  background-color: rgb(97, 100, 117);
 }

 .dark img {
  opacity: 0;
 }

 .dark .continue {
  background-color: rgb(34, 42, 53);
  color: white;
 }
